html {
	font-family: sans-serif;
}

header {
	background: rgb(212, 76, 9); background : linear-gradient( 90deg, rgba(
	212, 76, 9, 1) 0%, rgba( 231, 190, 4, 1) 10%, rgba( 142, 0, 0, 1) 100%);
	text-align: center;
	background: linear-gradient(90deg, rgba(212, 76, 9, 1) 0%,
		rgba(231, 190, 4, 1) 10%, rgba(142, 0, 0, 1) 100%);
}
header h1, header h2 {
	margin: 0px 0px 10px 0px;
}

/* div#buttons {
	background-color: navy;
	color: white;
} */

div#buttons button {
	width: 100px;
}

input#chatInput {
	width: 410px
}

#chat {
	width: 400px;
}

#chatPane {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 170px;
	overflow-y: scroll;
	padding: 5px;
	width: 100%;
}

#chatPane p {
	padding: 0;
	margin: 0;
}